{%extends 'base.html'%}
<title>Feed</title>
{% block content %}
{{block.super}}


{% for post in posts %}
<div class="container h-100">
  <div class="row align-items-center h-100">
    <div class="col-6 mx-auto">
      <h4 class="card-title">{{ post.name }}</h4>
      <div class="card" style="width:400px">
        <img class="card-img-top" src="{{post.picture.url}}" alt="Card image" style="width:100%">
        <div class="card-body">
         
          <p class="card-text">{{ post.caption }}</p>
         
          <a href=""class="btn btn-primary">See Profile</a>
        </div>
      </div>
     
  {% endfor %}
{% endblock %}