{%extends 'base.html'%}
<title>Feed</title>
{% block content %}
{{block.super}}


{% for profile in profiles %}
<div class="container h-100">
  <div class="row align-items-center h-100">
    <div class="col-6 mx-auto">
        <p class="card-text">{{ profile.name }}</p>
      <div class="card" style="width:400px">
        <img class="card-img-top" src="{{profile.profile_pic.url}}" alt="Card image" style="width:100%">
        <div class="card-body">
         
          <p class="card-text">{{ profile.bio }}</p>
         
         
        </div>
      </div>
     
  {% endfor %}
{% endblock %}